// LOGO
#logo {
	height: 3rem;
}

// BUTTONS
.btn-nav, .btn-primary {
	cursor: pointer;
	box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: 0.2);
	transition: box-shadow .2s ease;

	&:hover {
		box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2);
	}
}

.btn-nav {
	border: 1px solid $col-pink;
	color: $col-pink;
	display: grid;
	place-items: center;
	padding: 0 1.5rem;
	border-radius: 30px;
	box-shadow: none;
}

.btn-primary {
	margin: 2rem 0;
	padding: 2rem 6rem;
	border: none;
	color: #fff;
	background-color: $col-pink;

	&:hover {
		background-color: darken($col-pink, 10%);
	}

	&.rounded {
		border-radius: 60px;
	}

	&.small {
		padding: 1rem 3rem;
		border-radius: 5px;
	}
}

// STAT-CARDS
#stat-cards {
	display: flex;
	padding: 12rem;
	justify-content: space-evenly;

	@include respond(tab-port) {
		padding: 9rem;
	}

	@include respond(mobile) {
		flex-direction: column;
		padding: 4rem;
	}
}

.stat-card {
	margin: 5rem;

	@include respond(tab-port) {
		margin: 3rem;
	}

	@include respond(mobile) {
		width: min-content;
		margin: 3rem auto;
	}
}

// FORM STYLING
.form {
	display: flex;
	align-items: center;
	@include respond(mobile) {
		flex-direction: column;
		align-items: stretch;
	}

	.btn-primary {
		@include respond(mobile) {
			align-self: flex-end;
		}
	}
}

.input {
	margin: 1.2rem;
	margin-left: 0;
	outline: none;
	border-radius: 4px;
	padding: 1rem;
	@include respond(mobile) {
		margin: 0;
		margin-top: 2rem;
	}
}